
//////// Primary Button style
/////////////////////////////

.btn{
    width: 15.2rem;
    height: 4rem;
    background: $primary-color 0% 0% no-repeat padding-box;
    border-radius: 25px;
    opacity: 1;
    border: solid 2px $primary-color;
    font-size: 1.3rem;
    font-weight: 800;
    color: white;
    letter-spacing: 0.1rem;
}

//////// Call to action Button style
/////////////////////////////


.cta-btn{
    background-color: $primary-color;
    color: $white-color;
    font-size: 2rem;
    min-width: 65%;
    height: 6rem;
    text-align: center;
    margin-top: 5rem;
    padding: 1rem;

    @media (max-width:$lg){
        min-width: 90%;
    }
    @media (max-width:$md){
        margin-top: 2.5rem;
        min-width: 65%;

    }
    @media (max-width:$sm){
        font-size: 1.6rem;
        min-width: 90%;
        margin-top: 1.8rem;
    }

}