////////call to action Section
/////////////////////////////

.cta-section-with-curve{
    padding-bottom: 20rem;
    @media (max-width:$sm){
        display: none;
    }
    .wrapper{
        background-image: url(../img/bg-2.png);
        background-size: cover;
        height: 110rem;
        padding-bottom: 20rem;
        @media (max-width:$md){
            height: 100rem;
        }
    }
    .bordered-div{
        border: 1rem solid white;
        position: relative;
        top: 55%;
        width: 75%;
        height: 45%;
        padding: 6rem 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        
        @media (max-width:$lg){
            width: 95%;
        }
        @media (max-width:$md){
            padding: 3rem;
            width: 90%;
            height: 60%;
        }
        .flex-item-2{
            flex: 50%;
            max-width: 50%;
        }

        .flex-item-1{
            flex: 50%;
            max-width: 50%;
            // position: relative;
            @media (max-width:$md){
                text-align: center;
            }
            img{
                width: 40%;
                position: absolute;
                // top: 50%;
                // transform: translateY(-60%);
                bottom: 0;
                left: 0;
            }
            
        }
        h1{
            font-size: 6rem;
            color: $white-color;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1;
            
            
        }

        h2{
            font-size: 3.5rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 1.6rem;
            margin-right: 5rem;
            
            @media (max-width:$md){
                font-size: 3.5rem;
            }
            @media (max-width:$sm){
                margin-top: 1rem;
            }
        }
        button{
            background-color: $black-color;
            margin-top: 2rem;
        }
        
    }
}


.cta-without-curve{
  
    @media (max-width:$sm){
        display: none;
    }
    .wrapper{
        margin: 30rem 0;
    }
    .bordered-div{
        border: 1.5rem solid #dbdbdb;
        position: relative;
        height: auto;
        width: 80%;
        padding: 7rem 0 10rem 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width:$lg){
            padding: 5rem; 
        }
        @media (max-width:$md){
            width: 90%;
        }
        
        @media (max-width:$sm){
            padding: 0;
        }

        .flex-item-1{
            flex: 45%;
            max-width: 45%;
            @media (max-width:$md){
                text-align: center;
            }
            
            img{
                position: absolute;
                left: 5rem;
                bottom: 0;
                width: 40%;
                @media (max-width:$md){
                    // position: static;
                    position: absolute;
                    margin-top: -15rem;
                    bottom: 0;
                    width: 40%;
                }
                @media (max-width:$sm){
                    width: 80%;
                    
                }
            }
        
            /* Responsive layout - makes the columns stack on top of each other instead of next to each other */
            @media screen and (max-width: $sm) {
                flex: 100%;
                max-width: 100%;
                
            }
        }
        .flex-item-2{
            flex: 55%;
            max-width: 55%;
            margin: 0 auto;
            
        }
        h1{
            font-size: 5rem;
            color: $primary-color;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1;

            @media (max-width:$md){
                font-size: 5rem;

            }
            @media (max-width:$sm){
                font-size: 3.2rem;
                margin: 1.5rem 0
            }
        }

        h2{
            font-size: 3.5rem;
            color: $black-color;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 3rem;
            margin-right: 5rem;
            
            @media (max-width:$lg){
                font-size: 2.5rem;
                margin: 1.8rem 0;
            }
            @media (max-width:$md){
                font-size: 3rem;

            }
        
        } 
        
    }
}



.mobile-cta{
    position: relative;
    display: none;
    @media (max-width:$sm){
        display: block;
    }
    .wrapper{
        height: 150rem;
        margin-top: -10rem;
        position: relative;
    }
    .bordered-div{
       
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 40%;
        padding: 1rem 0;
       
        img{
            width: 55%;
            position: absolute;
            bottom: 0;
           
        }
        .content{
            text-align: center;
            // margin-top: 5rem;
            h1{
                font-size: 4.5rem;
            }
            h2{
                font-size: 3rem;
                margin: 0;
            }

        }
       

    }
    button{
        background-color: black;
        font-size: 2rem;
        position: absolute;
        bottom: 10rem;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
    }
    
}

.mobile-cta-witout-curve{
    .wrapper{
        margin-top: -60rem;
    }
    .bordered-div{
        height: 50%;
        border: 1.5rem solid #dbdbdb;
        h1{
            color: $primary-color;
        }
        img{
            width: 80%;
        }
    }
    button{
        background-color: $primary-color;
        bottom: 5rem;
    }
    
}