////////call to action Section
/////////////////////////////

.cta-section-with-curve{
    padding-bottom: 20rem;
    .wrapper{
        background-image: url(../img/bg-2.png);
        background-size: cover;
        height: 110rem;
        padding-bottom: 20rem;
        @media (max-width:$md){
            height: 100rem;
        }
        @media (max-width:$sm){
            height: 80rem;
        }
    }
    .bordered-div{
        border: 1.5rem solid white;
        position: relative;
        top: 55%;
        width: 70%;
        height: 53%;
        padding: 6rem 0;
        margin: 0 auto;
        display: flex;
        
        @media (max-width:$md){
            padding: 3rem;
            width: 90%;
            height: 60%;
        }
        
        @media (max-width:$sm){
            flex-wrap: wrap;;
            padding: 0;
            justify-content: center;
        }

        .flex-item-1{
            display: flex;
            flex: 45%;
            max-width: 45%;
            @media (max-width:$md){
                text-align: center;
            }
            img{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 35%;
                @media (max-width:$md){
                    position: static;
                    width: 60%;
                    text-align: center;
                }
                @media (max-width:$sm){
                    top: 30rem;
                    width: 80%;
                    text-align: center;
                }
            }
            
        }
        .flex-item-2{
            flex: 55%;
            max-width: 55%;
            @media (max-width:$sm){
                flex: 100%;
                max-width: 100%;
            }
            
        }
        h1{
            font-size: 6rem;
            color: $white-color;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 1;
            
            
        }

        h2{
            font-size: 3.5rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 3rem;
            margin-right: 5rem;
            
            @media (max-width:$md){
                font-size: 3.5rem;
            }
            @media (max-width:$sm){
                margin-top: 1rem;
            }
        }
        button{
            background-color: $black-color;
        }
        
    }
}




.mobile-cta{
    position: relative;
    display: none;
    .wrapper{
        height: 150rem;
        margin-top: -10rem;
    }
    .bordered-div{
       
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 40%;
        padding: 1rem 0;
       
        img{
            width: 75%;
           
        }
        .content{
            text-align: center;
            // margin-top: 5rem;
            h1{
                font-size: 4.5rem;
            }
            h2{
                font-size: 3rem;
                margin: 0;
            }

        }
       

    }
    button{
        background-color: black;
        position: absolute;
        bottom: -17rem;
        width: 80%;
    }
    @media (max-width:$sm){
        display: block;
    }
}