// basic color shades
//////////////////////////////////
$primary-color:#8EC125;
$primary-shade1: #94C431;
$primary-shade2: #AAD05A;
$primary-shade3: #99C73A;
$white-color: #ffffff;
$white-shade1:#00000029;
$white-shade2: #F5F5F5;
$white-shade3: #0000001A;
$black-color: #000;
$text-color: #7A839E;