
//////// Hero Section style
/////////////////////////////

#arbeitgeber-hero-section{
    background: url('../img/arbitgeber/Workout24_Firmenfitness_Arbeitgeber_Header.png') no-repeat center center;
    background-size: cover;
    
}

//////// firmfitness content style
/////////////////////////////

#arbeitgeber-content{

    .content-wrapper{
        text-align: center;
        position: relative;
        h3{
            font-size: 3rem;
            margin: 4rem 0;
        }
        .green-border{
            width: 25%;
            margin-bottom: 3rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        p{
            width: 45%;
            margin: 0 auto;
            font-size: 1.6rem;
        }
        .p-container{
            padding: 10rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            text-align: left;
            width: 80%;
            margin: 0 auto;
            @media (max-width:$md){
                flex-direction: column;
                width: 80%;
                padding: 3rem 0;
               
                p{
                    width: 100%;
                }
            }
        }
    }
}

//////// Graph section style
/////////////////////////////

#graph-section{

    margin-top: 15rem;
    .heading-wrapper{
        text-align: center;
        margin: 4rem 4rem 10rem 4rem;
        
        h4{
           font-size: 3.2rem;
           @media (max-width:$md){
            font-size: 3.1rem;
            margin: 3rem 0;
         }
        }
        h5{
            font-size: 2.6rem;
            font-weight: 500;
        }
        p{
            color: black;
            width: 60%;
            margin: 0 auto;
        }
    }   
    .graph-wrapper{
        background-color: $primary-color;
        padding: 2.5rem 0;
        margin: 5rem 0;
        .graph-row{
            width: 60%;
            margin: 4.5rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @media (max-width:$sm){
                width: 95%;
            }

            .span-container{
                position: absolute;
                left: 40%;
                @media screen and (min-width: 1024px) and (min-height: 1320px) {
                    /* iPad Pro */
                    left: 30%;
                }
                @media (max-width:$md){
                    left: 0;
                    margin: 3rem 0;
                 }
                span{
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin-left: 3.5rem;
                   
                    @media (max-width:$md){
                        font-size: 2rem;
                        margin-left: 3rem;
                     }
                    @media (max-width:$sm){
                    
                        margin-left: 0;
                     }
                }
            }

            .graph-bar{
                background-color: white;
                width: 40%;
                height: 2.5rem;
                display: flex;
                justify-content: flex-end;
                padding-right: 0.8rem;
                position: absolute;
                left: 50%;
                @media screen and (min-width: 1024px) and (min-height: 1320px) {
                    /* iPad Pro */
                    height: 2.1rem;
                }
                span{
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $primary-shade3;
                    @media (max-width:$md){
                        font-size: 1.5rem;
                     }
                }
            }
            p{
                color: black;
                font-size: 1.6rem;
                margin-right: 3rem;
                text-align: right;
                position: absolute;
                right: 50%;
            }
            .last-row-content{
                color: black;
                font-size: 1.8rem;
                margin-right: 3rem;
                text-align: right;
                position: absolute;
                right: 40%;
                @media screen and (min-width: 1024px) and (min-height: 1320px) {
                    /* iPad Pro */
                    right: 30%;
                }
                @media (max-width:$md){
                    font-size: 2rem;
                    right: 0;
                    text-align: center;
                    margin: 3rem 0;
                 }
            }
        }

    }
    
}


//////// Pillar section style
/////////////////////////////

#pillar-section{
    text-align: center;
    padding: 20rem 15rem;
    margin: 10rem 0;
    background: url('../img/arbitgeber/Workout24_Firmenfitness_Arbeitgeber_Saeulen.png') no-repeat center;
    background-size: cover;
    @media (max-width:$md){
        padding: 15rem 10rem;
     }
    @media (max-width:$sm){
        padding: 15rem 4rem;
     }
    h3{
        font-size: 3.3rem;
        text-shadow: 0 2px 5px black;
        color: white;
        letter-spacing: 0.2rem;
        @media (max-width:$md){
           font-size: 3rem;
           text-align: center;
        }
    }

    .block-wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 10rem 0;
        justify-content: space-around;

        .block{
            background-color: white;
            flex: 30%;
            max-width: 30%;
            @media (max-width:$lg){
                flex: 60%;
                max-width: 60%;
                margin-bottom: 3rem;
             }
            @media (max-width:$md){
               flex: 100%;
               max-width: 100%;
               margin-bottom: 3rem;
            }
            padding: 1.8rem 1rem;
            text-align: left;
            h6{
                font-size: 2rem;
            }
            p{
                font-size: 1.8rem;
                margin-top: 1rem;
            }

        }

    }
    
}

//////// Offer section style
/////////////////////////////

#offer-section{

    margin: 10rem 0;
    @media (max-width:$md){
        margin: 10rem 0;
    }
    .content-wrapper{
        padding: 5rem 10rem;
        @media (max-width:$lg){
            padding: 5rem 8rem;    
        }
        @media (max-width:$sm){
            padding: 5rem 0rem;    
        }
        .content-block{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-bottom: 8rem;
            @media (max-width:$md){
                margin-bottom: 0.5rem;
            }
            .inner-content-wrapper{
                width: 60%;
                border: 0.8rem solid $primary-color;
                padding: 1.5rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: white;
                position: relative;
    
                @media (max-width:$md)
                {
                    flex: 95%;
                    max-width: 95%;
                    margin-bottom: 4.5rem;
                }
                
                .content{
                    padding: 1rem 4rem;
                    
                    h2{
                        text-align: center;
                        font-size: 3.3rem;
                        margin-bottom: 2rem;
                        color: $primary-color;
                        @media (max-width:$lg){
                            font-size: 2.5rem;
                        }
                    }
                    
                    ul{
                        margin-left: 1%;
                        
                        li{
                            font-size: 1.8rem;
                            
                            @media (max-width:$lg){
                                font-size: 1.3rem;
                            }
                        }  
                    }
                }
            }
            .inner-content-wrapper::before{
                content: "";
                width: 100%;
                height: 80%;
               border-left: 0.8rem solid white;
    
                position: absolute;
                top: 50%;
                left: -0.8rem;
                transform: translateY(-50%);
            }
            
           
           
        }
    
    }
}

//////// Advantage section style
/////////////////////////////
#advantage-section{
    // padding: 0 20rem;
    // margin: 10rem 0;
    // @media screen and (min-width: 1024px) and (min-height: 1320px) {
    //     /* iPad Pro */
    //     padding: 0 10rem;
        
    // }
    .advantage-wrapper{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        @media (max-width:$sm){
            flex-direction: column;
        }
        .advantage-block{
            flex: 50%;
            max-width: 50%;
           padding: 2rem;
            display: flex;
            margin-bottom: 5rem;
           
            
            img{
                width: 8rem;
                height: 8rem;
                margin-right: 5rem;
               
            }
            h2{
                font-size: 2.5rem;
                margin-bottom: 3rem;
            }
            .list-container{
                display: flex;
                i{
                    margin-right: 2rem;
                    font-size: 2rem;
                    
                    color: $primary-color;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 3rem;
                }
            }
        }
        // // flex-wrap: wrap;
        // align-items: center;
        // justify-content: space-between;
        
        // @media(max-width:$md){
        //     flex-wrap: wrap;
        //     flex-direction: column;
        // }
        
        // .advantage-block{
        //     flex: 50%;
        //     max-width: 50%;
        //     display: flex;
        //     // flex-wrap: wrap;
            
        //     justify-content: space-between;
        //     margin: 7rem 0;
        //     @media(max-width:$sm){
        //         flex-wrap: wrap;
                
        //     }
            // .img{
            //         width: 5rem;
            //         height: 5rem;
            // }
        //     h2{
        //         font-size: 2.5rem;
        //         margin-bottom: 2rem;
        //     }
        //     .list-container{
        //        display: flex;
        //        i{
        //            margin-right: 2rem;
        //            font-size: 2.5rem;
                   
        //            color: $primary-color;
        //        }
        //        p{
        //            font-size: 1.6rem;
        //        }
        //     }
            
        // }
    }
}

#simple-content{
    margin: 10rem 0;
    .content-container{
        width: 70%;
        text-align: center;
        font-size: 2rem;
        margin: 0 auto;
    }
}

//////// Call to Action style
/////////////////////////////

// #betriebliches-cta{
//     .wrapper{
//         margin: 20rem 0;
    
//     }
    
//     .betriebliches-bordered-div{
//         border: 2rem solid #F5F5F5;
//         position: relative;
//         height: auto;
//         width: 80%;
//         padding: 7rem 0 10rem 0;
//         margin: 0 auto;
//         display: flex;
//         flex-wrap: wrap;
//         align-items: center;
//         @media (max-width:$lg){
//             padding: 5rem; 
//         }
//         @media (max-width:$md){
//             top: 8rem;
//             padding: 3rem;
//         }
        
//         @media (max-width:$sm){
//             padding: 0;
//         }

//         .flex-item-1{
//             flex: 45%;
//             max-width: 45%;
//             @media (max-width:$md){
//                 text-align: center;
//             }

            
//             img{
//                 position: absolute;
//                 left: -6rem;
//                 bottom: 0;
//                 width: 50%;
//                 @media (max-width:$md){
//                     position: static;
//                     margin-top: -15rem;
//                 }
//                 @media (max-width:$sm){
//                     width: 80%;
                    
//                 }
//             }
            
            
//             /* Responsive layout - makes a one column-layout instead of two columns */
//             @media screen and (max-width: $md) {
//                 flex: 100%;
//                 max-width: 100%;
                
//             }
//             /* Responsive layout - makes the columns stack on top of each other instead of next to each other */
//             @media screen and (max-width: $sm) {
//                 flex: 100%;
//                 max-width: 100%;
                
//             }
//         }
//         .flex-item-2{
//             flex: 55%;
//             max-width: 55%;
//             margin: 0 auto;
//             @media screen and (max-width: $md) {
//                 flex: 100%;
//                 max-width: 100%;
//                 text-align: center;
//                 padding: 2rem;
//             }
            
//         }
//         h1{
//             font-size: 9rem;
//             color: $primary-color;
//             text-transform: uppercase;
//             font-weight: bold;
//             line-height: 1;

//             @media (max-width:$lg){
//                 font-size: 4rem;
//             }
//             @media (max-width:$md){
//                 font-size: 5rem;

//             }
//             @media (max-width:$sm){
//                 font-size: 3.2rem;
//                 margin: 1.5rem 0
//             }
//         }

//         h2{
//             font-size: 4rem;
//             color: $black-color;
//             text-transform: uppercase;
//             font-weight: bold;
//             margin-top: 3rem;
//             margin-right: 5rem;
            
//             @media (max-width:$lg){
//                 font-size: 2.5rem;
//                 margin: 1.8rem 0;
//             }
//             @media (max-width:$md){
//                 font-size: 3rem;

//             }
//             @media (max-width:$sm){
//                 font-size: 2.5rem;
//                 margin: 1.5rem 0
//             }
//         } 
//         button{
//             font-size: 2.2rem;
//             @media (max-width:$sm){
//                 font-size: 1.8rem;
//                 width: 100%;
//             }
//         }
//     }
// }