
//////// Hero Section style
/////////////////////////////

#arbeitnehmer-hero-section{
    background: url('../img/Arbeitnehmer/firmenfitness_arbeitnehmer.png') no-repeat center center;
    background-size: cover;
    
}

#simple-content{
    margin: 10rem 0;
    .content-container{
        width: 50%;
        text-align: center;
        
        margin: 0 auto;
        @media (max-width:$md){
            width: 80%;
        }
        p{
            margin-top: 3rem;
            font-size: 1.6rem;
            line-height: 2;
        }
        .green-border{
            width: 40%;
        }
        h2{
            font-size: 3rem;
        }
    }
}
