
//////// Hero Section style
/////////////////////////////

#betriebliches-hero-section{
    background: url(../img/betriebliches/Workout24_Firmenfitness_Arbeitgeber_Header.png) no-repeat center center;
    background-size: cover;
    
}

//////// firmfitness content style
/////////////////////////////

#Firmenfitness-content{

    .content-wrapper{
        text-align: center;
        margin-top: 6rem;
        h3{
            font-size: 3rem;
            margin: 1rem 0;
        }
        .green-border{
            width: 25%;
            margin-bottom: 3rem;
        }
        p{
            width: 60%;
            margin: 0 auto;
            font-size: 1.6rem;
        }
        .btn-container{
            padding: 10rem 0;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 80%;
            margin: 0 auto;
            @media (max-width:$md){
                
                width: 90%;
            }

            button{
                width: 30%;
                color: white;
                height: 5rem;
                font-size: 1.8rem;
                height: 5rem;

               
                @media (max-width:$md){
                    width: 35%;
                   
                }
                @media (max-width:$sm){
                    flex: 100%;
                    font-size: 2.2rem;
                    margin: 2rem 0;
                    height: 7rem;  
                }
                @media (max-width:$xs){
                    
                    font-size: 2rem;
                    margin: 2rem 5rem;
                     
                }
                
            }
        }
    }
}


//////// Call to Action style
/////////////////////////////

#betriebliches-cta{
    .wrapper{
        margin: 20rem 0;
    
    }
    
    // .betriebliches-bordered-div{
    //     border: 2rem solid #F5F5F5;
    //     position: relative;
    //     height: auto;
    //     width: 80%;
    //     padding: 7rem 0 10rem 0;
    //     margin: 0 auto;
    //     display: flex;
    //     flex-wrap: wrap;
    //     align-items: center;
    //     @media (max-width:$lg){
    //         padding: 5rem; 
    //     }
    //     @media (max-width:$md){
    //         top: 8rem;
    //         padding: 3rem;
    //     }
        
    //     @media (max-width:$sm){
    //         padding: 0;
    //     }

    //     .flex-item-1{
    //         flex: 45%;
    //         max-width: 45%;
    //         @media (max-width:$md){
    //             text-align: center;
    //         }

            
    //         img{
    //             position: absolute;
    //             left: -6rem;
    //             bottom: 0;
    //             width: 50%;
    //             @media (max-width:$md){
    //                 position: static;
    //                 margin-top: -15rem;
    //             }
    //             @media (max-width:$sm){
    //                 width: 80%;
                    
    //             }
    //         }
            
            
    //         /* Responsive layout - makes a one column-layout instead of two columns */
    //         @media screen and (max-width: $md) {
    //             flex: 100%;
    //             max-width: 100%;
                
    //         }
    //         /* Responsive layout - makes the columns stack on top of each other instead of next to each other */
    //         @media screen and (max-width: $sm) {
    //             flex: 100%;
    //             max-width: 100%;
                
    //         }
    //     }
    //     .flex-item-2{
    //         flex: 55%;
    //         max-width: 55%;
    //         margin: 0 auto;
    //         @media screen and (max-width: $md) {
    //             flex: 100%;
    //             max-width: 100%;
    //             text-align: center;
    //             padding: 2rem;
    //         }
            
    //     }
    //     h1{
    //         font-size: 9rem;
    //         color: $primary-color;
    //         text-transform: uppercase;
    //         font-weight: bold;
    //         line-height: 1;

    //         @media (max-width:$lg){
    //             font-size: 4rem;
    //         }
    //         @media (max-width:$md){
    //             font-size: 5rem;

    //         }
    //         @media (max-width:$sm){
    //             font-size: 3.2rem;
    //             margin: 1.5rem 0
    //         }
    //     }

    //     h2{
    //         font-size: 4rem;
    //         color: $black-color;
    //         text-transform: uppercase;
    //         font-weight: bold;
    //         margin-top: 3rem;
    //         margin-right: 5rem;
            
    //         @media (max-width:$lg){
    //             font-size: 2.5rem;
    //             margin: 1.8rem 0;
    //         }
    //         @media (max-width:$md){
    //             font-size: 3rem;

    //         }
    //         @media (max-width:$sm){
    //             font-size: 2.5rem;
    //             margin: 1.5rem 0
    //         }
    //     } 
    //     button{
    //         font-size: 2.2rem;
    //     }
    // }
}