



//////////////// COMMON COMPONENT STYLING /////////////////

.heading-wrapper{
    animation-duration: 2s;
    margin-bottom: 1rem;
    h3{
        font-size: 3rem;
        text-align: center;
        margin: 1rem 0;
        @media (max-width:$sm){
            font-size: 2.5rem;
        }
    }
    p{
        font-size: 1.6rem;
        color: $text-color;
        text-align: center;
        margin: 2rem 0;
        @media (max-width:$sm){
            font-size: 1.5rem;
        }
    }
    @media (max-width:$md){
        width: 80%;
        margin: auto;
    }
}
.green-border{
    width: 11.9rem;
    border-top: solid 0.6rem $primary-shade3;
    margin: 0 auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }

//////////////////////////////////////////////////////
//////////////// 1st SECTION STYLING /////////////////
//////////////////////////////////////////////////////
.main-container{
#hero-section{
    display: flex;
    position: relative;
   // z-index: -1;
    height: 80vh;

    #last-box{
        margin-right: 0;
    }
    .img-1{
        background-image: url(../img/startseite-imgs/Workou24_Homepage_Fitness_Gesundheit.png); 
        background-size: cover;  
    }
    .img-2{
        background-image: url(../img/startseite-imgs/Workout24_Homepage_Abnehmen_Ernaehrung.png);  
        background-size: cover; 
    }
    .img-3{
        background-image: url(../img/startseite-imgs/Workout24_Homepage_Rücken_Gelenke.png);  
        background-size: cover; 
    }
    .img-4{
        background-image: url(../img/startseite-imgs/Workout24__Homepage_BGM.png); 
        background-size: cover;  
    }
    .hero-image-box {
        
        flex: 25%;
        max-width: 25%;
        position: relative;
        margin-right: 2rem;
        @media (max-width:$sm){
            flex: 100%;
            flex: 100%;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .bordered-div{
            height: 90%;
            width: 85%;
            border: 0.9rem solid white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            // z-index: 100;
            
           
            transition: all 0.5s;
        }
        .bordered-div:hover{
            height: 100%;
            
        }

        .hover-div:hover{
            height: 100%;;
            //transition: height 0.5s;
        }
        h1{
            color: white;
            font-size: 3.8rem;
            line-height: 1.3;
            letter-spacing: 0.5rem;
            text-align: center;
            text-shadow: 1px 1px 5px gray;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15rem;
            // @media (max-width:$md){
            //     font-size: 2rem;
            // }
            @media (max-width:$lg){
                font-size: 2rem;
                bottom: 10rem;
            }
        }

        button{
            position: absolute;
            bottom: 2.5rem;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-size: 1.8rem;
            width: 70%;
            @media (max-width:$sm){
                font-size: 1rem; 
            }
        } 
    }
    // .hero-image-box::before{
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: black;
    //     // border-top: 5rem solid black;
        
    //     opacity: 0.1;
    // }
   @media (max-width:$md){
       display: none;
   }
}


//////////////////////////////////////////////////////
//////////////// Mobile Slider SECTION STYLING /////////////////
//////////////////////////////////////////////////////
.slider-container{
    display: none;
    @media (max-width:$md){
        display: block;
    }
    width: 100%;
    height: 95vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    #slider-section{
        display: flex;
        width: 100%;
        .image-box{
            position: relative;
            flex: 50%;
            max-width: 50%;
            max-height: 90vh;
            @media (max-width:$sm){
                flex: 100%;
                max-width: 100%;
            }
            .bordered-div{
                position: absolute;
                width: 80%;
                height: 70%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-40%);
                border: 1rem solid white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                padding-bottom: 10rem;
                h1{
                    font-size: 5rem;
                    color: white;
                    text-shadow: 5px 5px 10px rgb(82, 81, 81);
                    margin-bottom: 10rem;
                    text-align: center;
                }
                button{
                    width: 70%;
                    height: 5rem;
                    font-size: 2.8rem;
                }
            }
            
        }
        
    }
    #nextBtn{
        position: absolute;
        top: 50%;
        right: 5%;
        z-index: 20;
        font-size: 7rem;
        font-weight: 600;
        color: $primary-color;
        opacity: 0.8;
        cursor: pointer;
        
    }
    #prevBtn{
        position: absolute;
        top: 50%;
        left: 5%;
        z-index: 20;
        font-size: 7rem;
        font-weight: 600;
        color: $primary-color;
        opacity: 0.8;
        cursor: pointer;
    }
}

//////////////////////////////////////////////////////
//////////////// 2ND SECTION STYLING /////////////////
//////////////////////////////////////////////////////


#services{
    h1{
        font-size: 3.3rem;
        text-align: center;
        margin-top: 10%;
        color: #555555 ;
        font-weight: 600;
       
        @media (max-width:$md){
            font-size: 4.1rem;
        }
        @media (max-width:$sm){
            font-size: 3.3rem;
        }
    }
    .service-wrapper{
        display: flex;
        flex-wrap: wrap;
        padding: 6% 15%;
        
        @media (max-width:$lg){
            padding: 5%;
        }
        .service-item{
            flex: 50%;
            max-width: 50%;
            @media (max-width:$md){
                flex: 50%;
                max-width: 50%;
            }
            @media (max-width:$sm){
                flex: 100%;
                max-width: 100%;
            }
            
        }
        .image-section{
            text-align: center;
            .man-image{
                position: relative;
                img{
                    width: 75%;
                    position: relative;
                    @media (max-width:$sm){
                        width: 80%;
                    }
                }
                
                .man-leg{
                        
                    position: absolute;
                    top: 52%;
                    left: 50%;
                    transform: translate(-66% ,-25%) scale(0.3);
                    z-index: 2;
                    // img{
                    //     transform:  scale(0.6);
                    //     // position: absolute;
                    //     // top: 0;
                    // }
                    @media (max-width:$sm){
                        left: 50%;
                    }
                }
                .arrow-div{
                    animation: fadeIn;
                    animation-delay: 5s;
                    position: absolute;
                    top: 0;
                    transform: translate(-8%, 77%) scale(0.9, 0.9);
                    z-index: 1;
                }
               
            }
           
           
        }
        
        
        .service-section{
            
            @media (max-width:$md){
                padding: 5rem;
            }
            .about-us{
                margin-bottom: 4rem;
                h3{
                    font-size: 3rem;
                }
                p{
                    color: $text-color;
                    font-size: 1.8rem;
                    margin-top: 3rem;
                }
                .green-border{
                    width: 11.9rem;
                    border-top: solid 0.6rem $primary-shade3;
                    margin: 0;
                }
                
            }
            .feature{
                display: flex;
                margin-top: 2rem;
                @media (max-width:$sm){
                    flex-direction: column;
                    padding: 1rem;
                }
                .icon-box{
                    display: flex;
                    align-items: center;
                    margin-right: 3rem;
                    @media (max-width:$sm){
                        // justify-content: center;
                        margin-bottom: 1.2rem;
                    }
                    img{
                        width: 8rem;
                        height: 8rem;
                        border: solid 2px $primary-color;
                        padding: 2rem 2.5rem;
                        border-radius: 100%;
                    }
                }
                .feature-content{
                    
                    h2{
                        font-size: 2rem;
                    }
                    @media (max-width:md){
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1.6rem;
                        margin-top: 3rem;
                        font-weight: 200;
                        color: $text-color;
                    }
                    @media (max-width:md){
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }
        
        }
    }

}

//////////////////////////////////////////////////////
//////////////// 3RD SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#benefits{
    
    margin-top: 10rem;
   
    .content-wrapper{
        padding: 5rem 10rem;
        @media (max-width:$lg){
            padding: 5rem 8rem;    
        }
        @media (max-width:$sm){
            padding: 5rem 0rem;    
        }
        .content-block{

            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-bottom: 8rem;
            @media (max-width:$md){
                margin-bottom: 3.5rem;
            }
            #block1{
                background-image: url('../img/startseite-imgs/ehemann-der-seiner-frau-mit-yoga-hilft-werfen-auf-uebungsmatte-auf_23-2148097390.png');
                background-position: center;
                background-repeat: no-repeat;    
            
            }
            #block2{
                background-image: url('../img/startseite-imgs/aelterer-ehemann-der-seiner-frau-hilft-position-des-yoga-zu-tun_23-2148097430.png');
                background-position: center;
                background-repeat: no-repeat; 
            }
            #block3{
                background-image: url('../img/startseite-imgs/portraet-eines-laechelnden-aelteren-paares-in-tragenden-yogamatten-der-sportkleidung_23-2148097403.png');    
                background-position: center;
                background-repeat: no-repeat; 
            }
            #block4{
                background-image: url('../img/startseite-imgs/glueckliche-aeltere-frau-zu-hause-die-pensionaeren-hilft-verbinden-um-korrekte-position-einzunehmen_23-2148097405.png');
                background-position: center;
                background-repeat: no-repeat; 
            }
            
            .content-border{
                border: 0.8rem solid $primary-color;
                width: 85%;
                height: 110%;
                padding: 3rem 3rem 3rem 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
            .content-border-2{
                border-right: 0.8rem solid $primary-color;
                width: 85%;
                height: 110%;
                padding: 3rem 3rem 3rem 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
            .inner-content-wrapper{
                flex: 45%;
                max-width: 45%;
                padding: 1.5rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: white;
                position: relative;

                @media (max-width:$md)
                {
                    flex: 50%;
                    max-width: 50%;
                    margin-bottom: 4.5rem;
                }
                @media (max-width:$sm)
                {
                    flex: 95%;
                    max-width: 95%;
                    margin-bottom: 4.5rem;
                }
                
                .content{
                    padding: 3rem 4rem;
                    
                    h2{
                        font-size: 2.2rem;
                        margin-bottom: 2rem;
                        @media (max-width:$lg){
                            font-size: 2.5rem;
                        }
                    }
                    
                    ul{
                        list-style: none;
                        margin-bottom: 2rem;
                        
                        li{
                            font-size: 1.5rem;
                            line-height: 1.5;
                            @media (max-width:$lg){
                                font-size: 1.3rem;
                            }
                            
                            i{
                                color: $primary-color;
                                font-size: 2rem;
                                margin-right: 1.5rem;
                                
                            }
                        }  
                    }
                    button{
                        font-size: 1.4rem;
                        width: 25rem;
                        color: white;
                        @media (max-width:$lg){
                            width: 18rem;
                            font-size: 1.3rem;
                        }
                        @media (max-width:$md){
                            width: 22rem;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
            
           
           
        }

    }
}


//////////////////////////////////////////////////////
//////////////// 4TH SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#testimonial{
    margin: 15rem 0;
    padding: 0 10rem;

    @media (max-width:$lg){
        padding: 0 7rem;
    }
    @media (max-width:$md) {
        padding: 0 10rem;
        
    }
    @media (max-width:$sm){
        padding: 0 5rem;
    }
    .heading-wrapper{
        .green-border{
            width: 30%;
        }
    }

    .testimonial-wrapper{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width:$md){
            justify-content: center;
        }
       
        .last-block{
            margin-right: 0;
        }

        .testimonial-block{
            flex: 30%;
            max-width: 30%;
            position: relative;
            border: 0.3rem solid #707070;
            border-radius: 1rem;
            padding: 2.8rem 2rem;
            margin-top: 10rem;
            
            @media (max-width:$md){
                flex: 100%;
                max-width: 100%;
                margin-right: 0;
                justify-content: center;
            }
            .avatar{
                position: absolute;
                top: -6rem;
                left: 8%;
                margin-bottom: 10rem;
            }
            .star-rating{
                margin: 3rem 0;
                i{
                    color: #FFD500;
                    font-size: 1.5rem;
                }
            }
            p{
                font-size: 1.5rem;
                color: $text-color;
                margin-bottom: 3rem;
            }
            .name{
                font-size: 1.8rem;
            }
            .designation{
                font-size: 1.6rem;
                color: $text-color;
                font-weight: 500;
            }
        }
        .last-block{
            margin-right: 0;
        }
    }
    
    .arrow-block{
        padding: 5rem;
        display: flex;
        justify-content: flex-end;
        i{
            font-size: 5rem;
            margin-left: 8rem;
            color: $primary-color;
            @media (max-width:$md){
                margin-left: 0;
            }
        }
        @media (max-width:$md){
            justify-content: space-between;

        }
    }
    
}

//////////////////////////////////////////////////////
//////////////// Mobile testimonial Slider SECTION STYLING /////////////////
//////////////////////////////////////////////////////
// .test-slider-container{
//     display: none;
//     @media (max-width:$md){
//         display: block;
//     }
//     width: 100%;
//     margin: auto;
//     overflow: hidden;
//     position: relative;
//     border: 5px solid yellow;
//     .test-slider-section{
//         display: flex;
//         width: 50%;
//         margin: auto;
//         border:  5px solid red;
//         .testimonial-block{
//             flex: 50%;
//             max-width: 50%;
//             border: 5px solid blue;
//             flex: 30%;
//             max-width: 30%;
//             position: relative;
//             border: 0.3rem solid #707070;
//             border-radius: 1rem;
//             padding: 2.8rem 2rem;
//             margin-top: 10rem;
            
//             @media (max-width:$md){
//                 flex: 100%;
//                 max-width: 100%;
//                 margin-right: 0;
//                 justify-content: center;
//             }
//             .avatar{
//                 position: absolute;
//                 top: -6rem;
//                 left: 8%;
//                 margin-bottom: 10rem;
//             }
//             .star-rating{
//                 margin: 3rem 0;
//                 i{
//                     color: #FFD500;
//                     font-size: 1.5rem;
//                 }
//             }
//             p{
//                 font-size: 1.5rem;
//                 color: $text-color;
//                 margin-bottom: 3rem;
//             }
//             .name{
//                 font-size: 1.8rem;
//             }
//             .designation{
//                 font-size: 1.6rem;
//                 color: $text-color;
//                 font-weight: 500;
//             }
//         }
//     }
//     #nextBtn{
//         position: absolute;
//         top: 50%;
//         right: 5%;
//         z-index: 20;
//         font-size: 7rem;
//         font-weight: 600;
//         color: $primary-color;
//         opacity: 0.8;
//         cursor: pointer;
        
//     }
//     #prevBtn{
//         position: absolute;
//         top: 50%;
//         left: 5%;
//         z-index: 20;
//         font-size: 7rem;
//         font-weight: 600;
//         color: $primary-color;
//         opacity: 0.8;
//         cursor: pointer;
//     }
// }

//////////////////////////////////////////////////////
//////////////// 5TH SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#FAQ{

    margin: 10rem 0;
    .gray-border{
        position: relative;
        padding: 5rem 0;
        border: 2rem solid #F5F5F5;
        max-width: 75%;
        margin: 8rem auto;
        @media (max-width:$sm){
                    
            max-width: 100%;
            margin: 0;
            
        }
        .inner-content{
            display: flex;
            flex-direction: column;
            align-items: center;

            
            img{
                width: 60%;
                @media (max-width:$sm){
                    
                    width: 100%;
                    
                }
            }
            button{
                position: absolute;
                bottom: -8.1rem;
                width: 40%;
                height: 5rem;
                margin-top: 5rem;
                color: white;
                font-size: 1.6rem;
                font-weight: 500;
                @media (max-width:$lg){
                    font-size: 1.5rem;
                    width: 60%;
                    height: 4rem;
                }
                @media (max-width:$sm){
                    font-size: 1.3rem;
                    width: 80%;
                   
                }
                
            }

        }


    }
    

}

//////////////////////////////////////////////////////
//////////////// 6TH SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#cta{

    .starseite-cta-img{
        width: 65%;
        left: -10rem;
    }
}

//////////////////////////////////////////////////////
//////////////// 7TH SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#question-answer{
   
    margin-bottom: 20rem;
    .faq-wrapper{
       // padding: 5rem 8rem;
        width: 70%;
        margin: auto;
        margin-top: 10rem;
        @media (max-width:$md){
            padding: 2rem;
        }
        .faq-block-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .faq-block{
                flex: 45%;
                max-width: 45%;
                @media (max-width:$lg){
                    max-height: 10rem;
                    padding: 1.3rem;
                    // border: 0.6rem solid $primary-color;
                }
                @media (max-width:$md){
                    max-height: 12rem;
                    padding: 1.5rem;
                    border: 0.4rem solid $primary-color;
                }
                @media (max-width:$sm){
                    flex: 100%;
                    max-width: 100%;
                    max-height: 10rem;
                    padding: 1rem;
                }
                max-height: 11rem;
                border: 0.4rem solid $primary-color;
                padding: 2rem 2rem;
                margin-bottom: 3rem;
                display: flex;
                position: relative;
                h6{
                    font-size: 1.6rem;
                    font-weight: bold;
                    @media (max-width:$lg){
                        font-size: 1.5rem;
                    }
                    @media (max-width:$md){
                        font-size: 1.8rem;
                    }
                }
                button{
                    background-color: white;
                    height: 75%;
                    border: none;
                    position: absolute;
                    top: 60%;
                    right: -1.3rem;
                    transform: translateY(-50%);
                    @media (max-width:$lg){
                        right: -1.5rem;
                    }
                    @media (max-width:$md){
                        right: -1.3rem;
                    }
                    i{
                        font-size: 3rem;
                        color: $primary-color;
                        @media (max-width:$lg){
                            font-size: 4rem;
                        }
                        @media (max-width:$md){
                            font-size: 3rem;
                        }
                    }
                }
                button:active{
                    border: none;
                }

            }
            .active-faq{
                flex-direction: column;
                max-height: 25rem;
                p{
                    font-weight: lighter;
                    font-size: 1.8rem;
                    margin-top: 3rem;
                    @media (max-width:$md){
                        font-size: 1.8rem;
                    }
                }
                button{
                    top: 30%;
                    height: 50%;
                }
            }
        }
    }

}


.bottom-bar{
    display: none;
    @media (max-width:$sm){
        display: flex;
    }
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: $primary-color;
    height: 7rem;
    justify-content: space-around;
    align-items: center;

    a{
        
        text-decoration: none;
        color: $white-color;
        font-size: 2.8rem;
        font-weight: 300;
        i{
            font-size: 3rem;
        }
    }
    #middle-link{
        padding: 0 8rem;
        border-left: 2px solid white ;
        border-right: 2px solid white ;
    }
}

}