

#contact-section{
    background-image: url('../img/snazzy-image.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    z-index: -1;
    .contact-wrapper{
        background-color: white;
        width: 80%;
        margin: 0 auto;
        padding: 5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        @media (max-width:$sm){
            flex-wrap: wrap;
            align-items: center;
        }
        h3{
            color: $primary-color;
            font-size: 2.3rem;
        }
        .form-wrapper{
            flex: 60%;
            max-width: 60%;
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            input{
                margin-bottom: 3rem;
                padding: 1rem;
                font-size: 1.7rem;
                border: none;
                border-bottom: 0.3rem solid #0000001A;
                width: 80%;
            }
            button{
                color: white;
                margin-top: 1rem;
            }
        }
        .address-block{

            position: relative;
            
            .content-wrapper{
            
                margin-top: 5rem;
                .content-block{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    
                    @media (max-width:$md){
                        margin-bottom: 0.5rem;
                    }
                    .inner-content-wrapper{
                        width: 80%;
                        border: 0.8rem solid $primary-color;
                        background-color: white;
                        position: relative;
            
                        @media (max-width:$md)
                        {
                            flex: 95%;
                            max-width: 95%;
                            margin-bottom: 4.5rem;
                        }
                        
                        .content{
                            padding: 5rem 2rem;
                            display: flex;
                            flex-direction: column;
                            
                            h3{
                                text-align: left;
                                font-size: 1.8rem;
                                margin-bottom: 2rem;
                                color: black;
                                @media (max-width:$lg){
                                    font-size: 2rem;
                                }
                            }
                            p{
                                font-size: 1.8rem;
                            }
                            a{
                                font-size: 2rem;
                                color: $primary-color;
                            }
                        }
                    }
                    .inner-content-wrapper::before{
                        content: "";
                        width: 100%;
                        height: 80%;
                       border-left: 0.8rem solid white;
                    // border: 0.8rem solid yellow;
            
                        position: absolute;
                        top: 50%;
                        
                        left: -0.8rem;
                        transform: translateY(-50%);
                    }
                    
                   
                   
                }
            
            }
        
        }
    }

}



