//////// Hero Section style
/////////////////////////////

#kursplan-hero-section{
    background: url(../img/kursplan/Workout24_Kursplan_Header@2x.png) no-repeat center center;
    background-size: cover;

    .hero-text{
        animation: fadeInLeft;
        animation-duration: 3s;
    }
    
}


//////// Time table section style
/////////////////////////////


#time-table{

    .time-table-wrapper{
      
        .btn-wrapper{
            width: 60%;
            @media (max-width:$md){
                width: 80%;
            }
            @media (max-width:$sm){
                width: 95%;
            }
            @media (max-width:$lg){
                width: 95%
            }
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10rem;
            .table-btn{
                padding: 1.5rem 3.6rem;
                border: 1px solid #ccc;
                margin-left: 2rem;
                background-color: white;
            }

        }
        margin: 20rem auto;
        @media (max-width:$md){
            margin: 70rem auto 10rem auto;
        }
        @media (max-width:$sm){
            margin: 20rem auto 10rem auto;
        }
        table{
            width: 75%;
            margin: 0 auto;
            @media (max-width:$md){
                width: 95%;
            }
            th{
                color: $primary-color;
                font-size: 2.2rem;
                padding: 1rem 3rem;
                @media (max-width:$md){
                    border: none;
                   
                }
            }
            tbody{
                color: #707070;
            }
            td{
                
                height: 5rem;
                font-size: 1.6rem;
                text-align: center;
                padding: 1rem 3rem;
                width: 16%;
                @media (max-width:$md){
                    border: none;
                    font-size: 2rem;
                }
            }
            
            .odd-row{
                background-color: #EFEFEF;
            }
           
           
        }  

        .mobile-table-section{
            .mobile-table{
                th{
                    height: 10rem;
                    font-size: 3.5rem;
                }
                td{
                    font-size: 2.2rem;
                    padding: 2rem;
                }
            }
        }
       

      
    }
    
}

.mobile-table-section{
    display: none;
    @media (max-width:$sm){
        display: block;
    }
}
.desktop-table{
    @media (max-width:$sm){
        display: none;
    }
}

//////// Offer section style
/////////////////////////////

#kursen-offer-section{

    margin: 10rem 0;
    @media (max-width:$md){
        margin: 10rem 0;
    }
    .content-wrapper{
        padding: 5rem 10rem;
        @media (max-width:$lg){
            padding: 5rem 8rem;    
        }
        @media (max-width:$sm){
            padding: 5rem 0rem;    
        }
        .content-block{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-bottom: 8rem;
            @media (max-width:$md){
                margin-bottom: 0.5rem;
            }
            .inner-content-wrapper{
                width: 60%;
                border: 0.8rem solid $primary-color;
                padding: 1.5rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: white;
                position: relative;
    
                @media (max-width:$md)
                {
                    flex: 95%;
                    max-width: 95%;
                    margin-bottom: 4.5rem;
                }
                
                .content{
                    padding: 5rem 4rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    h2{
                        text-align: center;
                        font-size: 3.5rem;
                        margin-bottom: 2rem;
                        color: black;
                        @media (max-width:$lg){
                            font-size: 3rem;
                        }
                    }
                    button{
                        margin-top: 3rem;
                        width: 65%;
                        height: 5rem;
                    }
                }
            }
            .inner-content-wrapper::before{
                content: "";
                width: 100%;
                height: 80%;
               border-right: 0.8rem solid white;
            // border: 0.8rem solid yellow;
    
                position: absolute;
                top: 50%;
                
                left: 0;
                transform: translateY(-50%);
            }
            
           
           
        }
    
    }
}


