
//////////////// COMMON COMPONENT STYLING /////////////////

.heading-wrapper{
    margin-bottom: 1rem;
    h3{
        font-size: 3rem;
        text-align: center;
        margin: 1rem 0;
        @media (max-width:$sm){
            font-size: 2.5rem;
        }
    }
    p{
        font-size: 2rem;
        color: $text-color;
        text-align: center;
        margin: 2rem 0;
        @media (max-width:$sm){
            font-size: 1.5rem;
        }
    }
}
.green-border{
    width: 11.9rem;
    border-top: solid 0.6rem $primary-shade3;
    margin: 0 auto;
}

//////////////////////////////////////////////////////
//////////////// 1st SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#hero-section{
    display: flex;
    // flex-wrap: wrap;
    position: relative;
    z-index: -1;
    // justify-content: space-between;

    #last-box{
        margin-right: 0;
    }
    .hero-image-box {
        flex: 25%;
        max-width: 25%;
        position: relative;
        margin-right: 2rem;
        @media (max-width:$sm){
            flex: 100%;
            flex: 100%;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .bordered-div{
            
            height: 83%;
            width: 75%;
            border: 0.9rem solid white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            h1{
                color: white;
                font-size: 4rem;
                line-height: 1.5;
                text-align: center;
                text-shadow: 1px 1px 5px gray;
                position: absolute;
                bottom: 15rem;
                // @media (max-width:$md){
                //     font-size: 2rem;
                // }
                @media (max-width:$lg){
                    font-size: 2rem;
                    bottom: 10rem;
                }
            }
            button{
                position: absolute;
                bottom: -3rem;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                font-size: 1.6rem;
                width: 75%;
                @media (max-width:$sm){
                    font-size: 1rem;
                    
                }
            }

        }
    }
    .hero-image-box::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        // border-top: 5rem solid black;
        
        opacity: 0.1;
    }
}


//////////////////////////////////////////////////////
//////////////// 2ND SECTION STYLING /////////////////
//////////////////////////////////////////////////////


#services{
    h1{
        font-size: 4.3rem;
        text-align: center;
        margin-top: 15%;
        @media (max-width:$md){
            font-size: 4.1rem;
        }
        @media (max-width:$sm){
            font-size: 3.3rem;
        }
    }
    .service-wrapper{
        display: flex;
        flex-wrap: wrap;
        padding: 10%;
        @media (max-width:$lg){
            padding: 3%;
        }
        .service-item{
            flex: 50%;
            max-width: 50%;
            @media (max-width:$md){
                flex: 100%;
                max-width: 100%;
            }
            
        }
        .image-section{
            .man-image{
                position: relative;
                img{
                    width: 100%;
                    position: relative;
                }
                .man-leg{
                        
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-66% ,-25%) scale(0.3);
                    z-index: 2;
                    // img{
                    //     transform:  scale(0.6);
                    //     // position: absolute;
                    //     // top: 0;
                    // }
                }
                .arrow-div{
                    position: absolute;
                    top: 0;
                    transform: translate(-8%, 77%) scale(0.9, 0.9);
                    z-index: 1;
                }
               
            }
           
           
        }
        
        
        .service-section{
            @media (max-width:$md){
                padding: 5rem;
            }
            .about-us{
                margin-bottom: 8rem;
                h3{
                    font-size: 3.3rem;
                }
                p{
                    color: $text-color;
                    font-size: 1.8rem;
                    margin-top: 3rem;
                }
                .green-border{
                    width: 11.9rem;
                    border-top: solid 0.6rem $primary-shade3;
                    margin: 0;
                }
                
            }
            .feature{
                display: flex;
                margin-top: 3rem;
                @media (max-width:$sm){
                    flex-direction: column;
                    padding: 1rem;
                }
                .icon-box{
                    display: flex;
                    align-items: center;
                    margin-right: 3rem;
                    @media (max-width:$sm){
                        // justify-content: center;
                        margin-bottom: 1.2rem;
                    }
                    img{
                        width: 10rem;
                        height: 10rem;
                        border: solid 2px $primary-color;
                        padding: 2rem 2.5rem;
                        border-radius: 100%;
                    }
                }
                .feature-content{
                    
                    h2{
                        font-size: 2.2rem;
                    }
                    @media (max-width:md){
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1.8rem;
                        margin-top: 3rem;
                        font-weight: 200;
                        color: $text-color;
                    }
                    @media (max-width:md){
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }
        
        }
    }

}

//////////////////////////////////////////////////////
//////////////// 3RD SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#benefits{
    
    .content-wrapper{
        padding: 5rem 10rem;
        @media (max-width:$lg){
            padding: 5rem 8rem;    
        }
        @media (max-width:$sm){
            padding: 5rem 0rem;    
        }
        .content-block{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-bottom: 8rem;
            @media (max-width:$md){
                margin-bottom: 0.5rem;
            }
            #block1{
                background-image: url('../img/startseite-imgs/ehemann-der-seiner-frau-mit-yoga-hilft-werfen-auf-uebungsmatte-auf_23-2148097390.png');
                background-position: center;
                background-repeat: no-repeat;    
            
            }
            #block2{
                background-image: url('../img/startseite-imgs/aelterer-ehemann-der-seiner-frau-hilft-position-des-yoga-zu-tun_23-2148097430.png');
                background-position: center;
                background-repeat: no-repeat; 
            }
            #block3{
                background-image: url('../img/startseite-imgs/portraet-eines-laechelnden-aelteren-paares-in-tragenden-yogamatten-der-sportkleidung_23-2148097403.png');    
                background-position: center;
                background-repeat: no-repeat; 
            }
            #block4{
                background-image: url('../img/startseite-imgs/glueckliche-aeltere-frau-zu-hause-die-pensionaeren-hilft-verbinden-um-korrekte-position-einzunehmen_23-2148097405.png');
                background-position: center;
                background-repeat: no-repeat; 
            }
            
            .content-border{
                border: 0.8rem solid $primary-color;
                width: 85%;
                height: 110%;
                padding: 3rem 3rem 3rem 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
            .content-border-2{
                border-right: 0.8rem solid $primary-color;
                width: 85%;
                height: 110%;
                padding: 3rem 3rem 3rem 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
            .inner-content-wrapper{
                flex: 45%;
                max-width: 45%;
                padding: 1.5rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: white;
                position: relative;

                @media (max-width:$md)
                {
                    flex: 95%;
                    max-width: 95%;
                    margin-bottom: 4.5rem;
                }
                
                .content{
                    padding: 3rem 4rem;
                    
                    h2{
                        font-size: 3rem;
                        margin-bottom: 2rem;
                        @media (max-width:$lg){
                            font-size: 2.5rem;
                        }
                    }
                    
                    ul{
                        list-style: none;
                        margin-bottom: 2rem;
                        
                        li{
                            font-size: 1.5rem;
                            line-height: 2;
                            @media (max-width:$lg){
                                font-size: 1.3rem;
                            }
                            
                            i{
                                color: $primary-color;
                                font-size: 2rem;
                                margin-right: 1.5rem;
                                
                            }
                        }  
                    }
                    button{
                        font-size: 1.4rem;
                        color: white;
                        @media (max-width:$lg){
                            width: 18rem;
                            font-size: 1.3rem;
                        }
                        @media (max-width:$md){
                            width: 22rem;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
            
           
           
        }

    }
}


//////////////////////////////////////////////////////
//////////////// 4TH SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#testimonial{
    margin: 15rem 0;
    padding: 0 10rem;

    @media (max-width:$lg){
        padding: 0 7rem;
    }
    @media (max-width:$md) {
        padding: 0 10rem;
        
    }
    @media (max-width:$sm){
        padding: 0 5rem;
    }
    .heading-wrapper{
        .green-border{
            width: 30%;
        }
    }

    .testimonial-wrapper{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width:$md){
            justify-content: center;
        }
       
        .last-block{
            margin-right: 0;
        }

        .testimonial-block{
            flex: 30%;
            max-width: 30%;
            position: relative;
            border: 0.3rem solid #707070;
            border-radius: 1rem;
            padding: 2.8rem 2rem;
            margin-top: 10rem;
            
            @media (max-width:$md){
                flex: 100%;
                max-width: 100%;
                margin-right: 0;
                justify-content: center;
            }
            .avatar{
                position: absolute;
                top: -6rem;
                left: 8%;
                margin-bottom: 10rem;
            }
            .star-rating{
                margin: 3rem 0;
                i{
                    color: #FFD500;
                    font-size: 1.5rem;
                }
            }
            p{
                font-size: 1.5rem;
                color: $text-color;
                margin-bottom: 3rem;
            }
            .name{
                font-size: 1.8rem;
            }
            .designation{
                font-size: 1.6rem;
                color: $text-color;
                font-weight: 500;
            }
        }
        .last-block{
            margin-right: 0;
        }
    }
    
    .arrow-block{
        padding: 5rem;
        display: flex;
        justify-content: flex-end;
        i{
            font-size: 5rem;
            margin-left: 8rem;
            color: $primary-color;
            @media (max-width:$md){
                margin-left: 0;
            }
        }
        @media (max-width:$md){
            justify-content: space-between;

        }
    }
    
}

//////////////////////////////////////////////////////
//////////////// 5TH SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#FAQ{

    margin: 10rem 0;
    .gray-border{
        position: relative;
        padding: 5rem 0;
        border: 2rem solid #F5F5F5;
        max-width: 75%;
        margin: 8rem auto;
        @media (max-width:$sm){
                    
            max-width: 100%;
            margin: 0;
            
        }
        .inner-content{
            display: flex;
            flex-direction: column;
            align-items: center;

            
            img{
                width: 60%;
                @media (max-width:$sm){
                    
                    width: 100%;
                    
                }
            }
            button{
                position: absolute;
                bottom: -3.1rem;
                width: 40%;
                height: 5rem;
                margin-top: 5rem;
                color: white;
                font-size: 1.8rem;
                font-weight: 600;
                @media (max-width:$lg){
                    font-size: 1.5rem;
                    width: 60%;
                    height: 4rem;
                }
                @media (max-width:$sm){
                    font-size: 1.3rem;
                    width: 80%;
                   
                }
                
            }

        }


    }
    

}

//////////////////////////////////////////////////////
//////////////// 6TH SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#cta{
    .wrapper{
        height: 110rem;
        @media (max-width:$sm){
            height: 80rem;
        }
        .bordered-div{
            top: 45rem;
            width: 70%;
            height: 50rem;

            @media (max-width:$lg){
                width: 80%;
            }
            @media (max-width:$md){
                top: 18rem;
                height: 80rem;
            }
            @media (max-width:$sm){
                top: 18rem;
                height: 55rem;
            }
            .flex-item-1{
                flex: 45%;
                max-width: 45%;
                @media (max-width:$md){
                    flex: 100%;
                    max-width: 100%;
                }
                img{
                    width: 60%;
                    left: -15rem;
                    @media (max-width:$md){
                        width: 100%;
                    }
                    @media (max-width:$lg){
                        left: -7rem;
                    }
                }
            }
            .flex-item-2{
                flex: 55%;
                max-width: 55%;
                @media (max-width:$md){
                    flex: 100%;
                    max-width: 100%;
                }
                h1{
                    font-size: 7.5rem;
                    text-shadow: 1px 1px 10px gray;
                    letter-spacing: 0.4rem;
                    font-weight: 700;
                    @media (max-width:$lg){
                        font-size: 4.8rem;
                        text-shadow: 1px 1px 10px gray;
                        letter-spacing: 0.2rem;
                    }
                    @media (max-width:$md){
                        font-size: 4rem;
                        text-shadow: 1px 1px 10px gray;
                        letter-spacing: 0.2rem;
                    }
                    @media (max-width:$sm){
                        font-size: 3rem;
                        text-shadow: 1px 1px 10px gray; 
                    }
                }
                h2{
                    font-size: 4rem;
                    font-weight: 800;
                    @media (max-width:$lg){
                        font-size: 3.3rem;
                    }
                    @media (max-width:$md){
                        font-size: 2rem;
                       
                        
                    }
                    @media (max-width:$sm){
                        font-size: 1.7rem;
                       
                    }
                }
                button{
                    font-size: 2rem;
                    @media (max-width:$lg){
                        font-size: 1.4rem;
                    }
                    @media (max-width:$md){
                        font-size: 1.5rem;
                    }
                    @media (max-width:$sm){
                        font-size: 1.1rem;
                        width: 100%;
                    }
                }
                
            }
        }
    }
}


//////////////////////////////////////////////////////
//////////////// 7TH SECTION STYLING /////////////////
//////////////////////////////////////////////////////

#question-answer{
   
    margin-bottom: 20rem;
    .faq-wrapper{
        padding: 5rem 8rem;
        margin-top: 10rem;
        @media (max-width:$md){
            padding: 2rem;
        }
        .faq-block-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .faq-block{
                flex: 45%;
                max-width: 45%;
                @media (max-width:$lg){
                    max-height: 10rem;
                    padding: 1.3rem;
                    // border: 0.6rem solid $primary-color;
                }
                @media (max-width:$md){
                    max-height: 12rem;
                    padding: 1.5rem;
                    border: 0.6rem solid $primary-color;
                }
                @media (max-width:$sm){
                    flex: 100%;
                    max-width: 100%;
                    max-height: 10rem;
                    padding: 1rem;
                }
                max-height: 11rem;
                border: 0.8rem solid $primary-color;
                padding: 3rem 2rem;
                margin-bottom: 3rem;
                display: flex;
                position: relative;
                h6{
                    font-size: 1.8rem;
                    font-weight: bold;
                    @media (max-width:$lg){
                        font-size: 1.5rem;
                    }
                    @media (max-width:$md){
                        font-size: 1.3rem;
                    }
                }
                button{
                    background-color: white;
                    height: 75%;
                    border: none;
                    position: absolute;
                    top: 50%;
                    right: -2rem;
                    transform: translateY(-50%);
                    @media (max-width:$lg){
                        right: -1.5rem;
                    }
                    @media (max-width:$md){
                        right: -1.3rem;
                    }
                    i{
                        font-size: 5rem;
                        color: $primary-color;
                        @media (max-width:$lg){
                            font-size: 4rem;
                        }
                        @media (max-width:$md){
                            font-size: 3rem;
                        }
                    }
                }
                button:active{
                    border: none;
                }

            }
            .active-faq{
                flex-direction: column;
                max-height: 25rem;
                p{
                    font-weight: lighter;
                    font-size: 1.8rem;
                    margin-top: 3rem;
                    @media (max-width:$md){
                        font-size: 1.5rem;
                    }
                }
                button{
                    top: 30%;
                    height: 50%;
                }
            }
        }
    }

}